* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* HEADER */
.header {
    background-color: #1f2ed8;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
}

.logo {
    background-color: #d9d9d9;
    color: #1f2ed8;
    padding: 10px 20px;
    font-weight: bold;
}

.nav a {
    background-color: #e0e0e0;
    color: black;
    text-decoration: none;
    margin-left: 10px;
    padding: 8px 15px;
    border-radius: 3px;
    font-size: 14px;
}

.nav a:hover {
    background-color: #cfcfcf;
}