* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.search-section {
    display: flex;
    justify-content: center;
    margin: 30px 0;
}

.search-box {
    display: flex;
    width: 60%;
    border: 1px solid #ccc;
    border-radius: 25px;
    overflow: hidden;
}

.search-box input {
    flex: 1;
    border: none;
    padding: 12px 20px;
    outline: none;
    font-size: 14px;
}

.search-box a {
    border: none;
    background-color: white;
    padding: 0 20px;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
    position: relative;
    top: 20%;
}


/* RESULTS SEARCH */
.results {
    width: 80%;
    margin: 30px auto;
}

.result-card {
    display: flex;
    align-items: center;
    background-color: #e0e0e0;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 4px;
    position: relative;
}

.result-card.active {
    border: 2px solid #3fa9f5;
}

.result-image {
    width: 80px;
    height: 80px;
    background-color: #f2f2f2;
    border: 1px solid #aaa;
    margin-right: 20px;
}

.result-info h3 {
    margin-bottom: 5px;
    font-size: 16px;
}

.result-info .brand {
    font-size: 14px;
    font-weight: bold;
}

.result-info .description {
    font-size: 13px;
    color: #555;
}

.favorite {
    margin-left: auto;
    font-size: 20px;
    cursor: pointer;
}
