<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comparador de Precios</title>
    <link rel="stylesheet" href="{{url_for('static', path='css/style.css')}}">
    <link rel="stylesheet" href="{{url_for('static', path='css/header.css')}}">
</head>
<script>
(function (m, a, z, e) {
  var s, t, u, v;
  try {
    t = m.sessionStorage.getItem('maze-us');
  } catch (err) {}

  if (!t) {
    t = new Date().getTime();
    try {
      m.sessionStorage.setItem('maze-us', t);
    } catch (err) {}
  }

  u = document.currentScript || (function () {
    var w = document.getElementsByTagName('script');
    return w[w.length - 1];
  })();
  v = u && u.nonce;

  s = a.createElement('script');
  s.src = z + '?apiKey=' + e;
  s.async = true;
  if (v) s.setAttribute('nonce', v);
  a.getElementsByTagName('head')[0].appendChild(s);
  m.mazeUniversalSnippetApiKey = e;
})(window, document, 'https://snippet.maze.co/maze-universal-loader.js', 'f4c97d47-9817-441d-b2e7-83dce98cb74e');
</script>
<body>
    <header class="header">
        {% include 'layouts/header.html' %} 
    </header>

    <main>
        <section class="search-section">
            {% include 'layouts/search-bar.html' %} 
        </section>

        <section class="products">
            <h2>Sección de Productos Populares</h2>

            <div class="product-grid">
                <div class="product-card">
                    <div class="image-placeholder"></div>
                    <p class="product-name">Nombre Producto</p>
                    <p class="product-brand">Marca Producto</p>
                </div>

                <div class="product-card">
                    <div class="image-placeholder"></div>
                    <p class="product-name">Nombre Producto</p>
                    <p class="product-brand">Marca Producto</p>
                </div>

                <div class="product-card">
                    <div class="image-placeholder"><a href=""></a></div>
                    <p class="product-name">Nombre Producto</p>
                    <p class="product-brand">Marca Producto</p>
                </div>
            </div>
        </section>
    </main>

    <footer>

    </footer>
</body>
</html>