<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comparador de Precios</title>
    <link rel="stylesheet" href="{{url_for('static', path='css/style.css')}}">
    <link rel="stylesheet" href="{{url_for('static', path='css/header.css')}}">
</head>
<body>
    <header class="header">
        {% include 'layouts/header.html' %} 
    </header>

    <main>
        <section class="search-section">
            {% include 'layouts/search-bar.html' %} 
        </section>

        <section class="products">
            <h2>Sección de Productos Populares</h2>

            <div class="product-grid">
                <div class="product-card">
                    <div class="image-placeholder"></div>
                    <p class="product-name">Nombre Producto</p>
                    <p class="product-brand">Marca Producto</p>
                </div>

                <div class="product-card">
                    <div class="image-placeholder"></div>
                    <p class="product-name">Nombre Producto</p>
                    <p class="product-brand">Marca Producto</p>
                </div>

                <div class="product-card">
                    <div class="image-placeholder"><a href=""></a></div>
                    <p class="product-name">Nombre Producto</p>
                    <p class="product-brand">Marca Producto</p>
                </div>
            </div>
        </section>
    </main>

    <footer>

    </footer>
</body>
</html>