<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', path='css/product-search.css')}}">
    <link rel="stylesheet" href="{{url_for('static', path='css/header.css')}}">
    <title>Lista de Productos</title>
</head>
<script>
(function (m, a, z, e) {
  var s, t, u, v;
  try {
    t = m.sessionStorage.getItem('maze-us');
  } catch (err) {}

  if (!t) {
    t = new Date().getTime();
    try {
      m.sessionStorage.setItem('maze-us', t);
    } catch (err) {}
  }

  u = document.currentScript || (function () {
    var w = document.getElementsByTagName('script');
    return w[w.length - 1];
  })();
  v = u && u.nonce;

  s = a.createElement('script');
  s.src = z + '?apiKey=' + e;
  s.async = true;
  if (v) s.setAttribute('nonce', v);
  a.getElementsByTagName('head')[0].appendChild(s);
  m.mazeUniversalSnippetApiKey = e;
})(window, document, 'https://snippet.maze.co/maze-universal-loader.js', 'f4c97d47-9817-441d-b2e7-83dce98cb74e');
</script>
<body>
    <header class="header">
        {% include 'layouts/header.html' %} 
    </header>

    <main>
        <section class="search-section">
            {% include 'layouts/search-bar.html' %} 
        </section>

        <section class="results">
            <div class="result-card">
            <div class="result-image"><img style="max-height: 100%;" src="https://media.falabella.com/falabellaCO/73396162_2/w=1500,h=1500,fit=pad" alt=""></div>

            <div class="result-info">
                <h3><a href="/product">Galaxy S25 Ultra 5G</a></h3>
                <p class="brand">Samsung</p>
                <p class="description">Celular Samsung Galaxy S25 Ultra 5G</p>
            </div>

            <div class="favorite">
                ❤️
            </div>
        </div>

        <div class="result-card">
            <div class="result-image"></div>

            <div class="result-info">
                <h3>Galaxy S25+ 5G</h3>
                <p class="brand">Samsung</p>
                <p class="description">Celular Samsung Galaxy S25+ 5G</p>
            </div>

            <div class="favorite">
                ❤️
            </div>
        </div>

        <div class="result-card">
            <div class="result-image"></div>

            <div class="result-info">
                <h3>Galaxy S25 5G</h3>
                <p class="brand">Samsung</p>
                <p class="description">Celular Samgung Galaxy S25 5G</p>
            </div>

            <div class="favorite">
                ❤️
            </div>
        </div>

        <div class="result-card">
            <div class="result-image"></div>

            <div class="result-info">
                <h3>Galaxy S25 FE</h3>
                <p class="brand">Samgung</p>
                <p class="description">Celular Samgung Galaxy S25 FE</p>
            </div>

            <div class="favorite">
                ❤️
            </div>
        </div>

        <div class="result-card">
            <div class="result-image"></div>

            <div class="result-info">
                <h3>Galaxy S24 FE</h3>
                <p class="brand">Samsung</p>
                <p class="description">Celular Samsung Galaxy S24 FE</p>
            </div>

            <div class="favorite">
                ❤️
            </div>
        </div>
        </section>
    </main>
</body>
</html>